<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"  debug="true">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%t] %c (%F:%L) - %m%n"/>
    </layout>
  </appender>
  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="logs/email.log"/>
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="102400" />
	<param name="MaxBackupIndex" value="50" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c (%F:%L) - %m%n"/>
    </layout>
  </appender>
  <logger name="com.aimilin" additivity="false">
		<level value="debug" />
		 <appender-ref ref="CONSOLE"/>
		 <appender-ref ref="FILE"/>
 </logger>
 <logger name="org.apache.commons" additivity="false">
		<level value="info" />
		 <appender-ref ref="CONSOLE"/>
		 <appender-ref ref="FILE"/>
 </logger>
  <root>
    <priority  value="debug" />
   		<appender-ref ref="CONSOLE"/>
		 <appender-ref ref="FILE"/>
  </root>
</log4j:configuration>